<div class="container">
    <h2>login</h2>
    <form action="/login" method="post">
    <label for="email">
        <span>email</span>
        <input type="email" name="email">
    </label> 
    <label for="password">
        <span>password</span>
        <input type="password" name="password">
    </label> 
    <button type="submit">Login</button>
    <span>{{msg}}</span>
    </form>
</div>